{% extends "cbvapp/base.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>List of school</h1>
        <div class="row">
            {% for i in school_list %}
            <div class="col-sm-4">
                <div class="card card-body">
                    <li>SchoolName : <a href="{{i.id}}">{{ i.school_name }}</a></li>
                    <li> Place : <a href="{{i.id}}">{{ i.place }}</a></li>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}